<!DOCTYPE html>
<head>
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .about-section {
            padding: 50px;
            text-align: center;
            background-image: url("https://wallpapercave.com/wp/wp10117188.jpg");
            background-size: cover;
            color: white;
        }


        .title {
            color: grey;
        }
    </style>
</head>
<body>

<div th:replace="~{/navbar::navbar}"></div>

<div class="about-section">
    <h1>About the web App</h1>
    <p>
        The web page you are viewing represents an authentication system with user and admin roles.
        It features a login functionality that allows users to log in as either regular users or admins.
        New users can register to create a user account.
    </p>
    <p>
        Once logged in, users have access to user-specific pages that offer various features and functionality tailored
        for regular users.
        The exact content and purpose of these pages depend on the specific requirements of the web application.
    </p>
    <p>
        Admins, on the other hand, can access an admin page that provides them with the ability to manage user
        information.
        They can view a list of registered users and perform actions such as enabling or disabling user accounts.
        Admins also have the option to delete user accounts if necessary.
    </p>
    <p>
        This user and admin authentication system allows for differentiated access and functionality based on the user's
        role.
        Regular users can utilize the features available to them, while admins possess additional privileges for user
        account management.
    </p>
</div>

<h2 class="text-center">Roles and Access</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <i class="bi bi-person" style="font-size: 5rem; margin: 20px;"></i>
            <div class="card-body">
                <h2>User</h2>
                <p class="card-title">Access: User Pages</p>
                <ul class="card-text">
                    <li>User Page</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <i class="bi bi-people" style="font-size: 5rem; margin: 20px;"></i>
            <div class="card-body">
                <h2>Admin</h2>
                <p class="card-title">Access: Admin Pages</p>
                <ul class="card-text">
                    <li>Admin Page</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <i class="bi bi-share" style="font-size: 5rem; margin: 20px;"></i>
            <div class="card-body">
                <h2>Shared</h2>
                <p class="card-title">Access: Shared Pages</p>
                <ul class="card-text">
                    <li>Home</li>
                    <li>Login</li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>