<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>confirmEmailPswd</title>
    <!-- Confirm Email Password-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <div th:replace="~{/login::backgroundLogin}"></div>

</head>
<body>

<div th:replace="~{/navbar::navbar}"></div>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2 text-uppercase">Confirm that it works</h2>
                        <p class="text-white-50 mb-5">Enter the code you recieved in your mail:</p>

                        <form th:action="@{/resetPassword}" method="post">

                            <div th:replace="~{/emailAndPassword::email}"></div>
                            <div th:replace="~{/emailAndPassword::password}"></div>

                            <button class="btn btn-outline-light btn-lg px-5 rounded-pill" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>