<div th:fragment="email" class="form-outline form-black mb-4">
    <input type="email" id="typeEmailX" class="form-control form-control-lg"
           placeholder="Email" name="email"
           oninvalid="this.setCustomValidity('Please enter a valid email address')"
           oninput="this.setCustomValidity('')"/>
    <label class="form-label" for="typeEmailX">Email</label>
</div>

<div th:fragment="password" class="form-outline form-black mb-4">
    <input type="password" id="password" name="password"
           class="form-control form-control-lg"
           placeholder="Password" pattern=".{3,8}" required
           oninvalid="this.setCustomValidity('Password most be between 3-8 characters')"
           oninput="this.setCustomValidity('')"/>>
    <label class="form-label" for="password">Password</label>
</div>