<!DOCTYPE html>
<head>
    <title>Web Page</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        body {
            background-image: url("https://512pixels.net/downloads/macos-wallpapers-thumbs/10-12--thumb.jpg");
            background-size: cover;
        }
    </style>

</head>
<body>

<div th:replace="~{/navbar::navbar}"></div>

<h1>Welcome to the home page</h1>
</body>
</html>